# Catkin build artifacts
build/
devel/
logs/
.catkin_tools/
install/

# Catkin workspace marker (manter .catkin_workspace)
!.catkin_workspace

# Python
__pycache__/
*.py[cod]
*.egg-info/

# C/C++
*.o
*.so
*.a
*.out

# ROS
*.bag
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
