[submodule "src/AriaCoda"]
	path = src/AriaCoda
	url = https://github.com/reedhedges/AriaCoda.git

[submodule "src/movemaster_control"]
	path = src/movemaster_control
	url = https://github.com/mhar-vell/movemaster_control.git

[submodule "src/sparton_ahrs8_driver"]
	path = src/sparton_ahrs8_driver
	url = https://github.com/mhar-vell/sparton_ahrs8_driver.git
